*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color:white;
} 
nav{
    display: flex;
    justify-content: end;
    margin: 20px; 
    background-color: black;
}
header{
    position: sticky;
    top: 0px;
}

nav a{
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    z-index: 1;
    position: sticky;
    top: 10px;
    color: rgb(238, 236, 236);
}
nav a{
    border-bottom: 2px solid transparent;
    transition: all.5s ease ;
}
nav a:hover{

border-bottom: 2px solid;   
padding: 5px;
}

.container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    padding: 50px;
    
   
}
.name{
    border: 1px solid;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.heade{
 
  font-family: "Playfair Display", system-ui;
  
}


.container2 .photo img{
    height:500px;
    width: 400px;
    border-radius: 50px;
    padding: 20px;
}
.div{
    padding: 50px ;
    margin: 50px;
}
.div h2{
    font-family: "Playfair Display", system-ui;
    font-size: 70px;
    padding: 100px;
    
}
.div p{


    font-size: 50px;
    padding: 30px;
    margin: 30px;
}
.Education{
    
  font-family: "Playfair Display", system-ui;
    padding: 70px;
   margin-top: 70px;
}
.Education h2{
    font-size: 70px;
    padding: 50px;
    
}
    .Education ul{
        padding: 100px;
        font-size: 30px;
        margin: 50px;
    }
.title{
    padding: 100px;
    font-size: 50px;
    margin: 50px;
}
 div.skills{
    display: flex;
    padding: 30px;
    justify-content: space-around;
    padding: 50px;
    

}


.html{
    padding: 3px;
    font-size: 30px;
    text-align: center;
}
.hobbies{
    font-family: "Playfair Display", system-ui;
    padding: 50px;
    font-size: 100px;

}
.img{
 display: flex;
 justify-content: space-around;
}

.skills img{
    width: 250px;
    height: 300px;

    margin: 0;
    padding: 0;
}

.himg{
    width: 300px;
    height: 400px;
    
    padding: 20px;
    gap:40px
}
.img p{
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
.hobbies h2{
    font-size: 70px;
    padding: 50px;
    margin: 50px;
}
.Contact{
    font-family: "Playfair Display", system-ui;
    font-size: 70px;
    padding: 50px;
    margin: 50px;
    

    
}
.icon a{
    padding: 50px;
    margin: 50px;
    display: flex;
    align-items:center;
    font-size: 30px;
    text-decoration: none;
}
.icon a{
    color: white;
    justify-content: center;
}
.linkedin {
    display: flex;
    justify-content: center;
    
}
.linkedin a{
    color: white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.div7{
    padding: 40px;
    margin: 40px;
    margin-bottom: 100px;
}










    



    
    

    